<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
</head>
<body>

    <!-- APP -->
    <div id="app">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <form>
                        <div class="form-group">
                            <label for="clave">Clave</label>
                            <input type="text" class="form-control" id="clave" v-model="clave">
                        </div>
                        <div class="form-group">
                            <label for="titulo">Titulo</label>
                            <input type="text" class="form-control" id="titulo" v-model="titulo">
                        </div>
                        <div class="form-group">
                            <label for="descripcion">Descripción</label>
                            <input type="text" class="form-control" id="descripcion" v-model="descripcion">
                        </div>
                        <button class="btn btn-primary" @click.prevent="agregar(clave, titulo, descripcion)">Agregar</button>
                    </form>
                </div>
                <div class="col-6">
                    Clave: {{ clave }} </br>
                    Titulo: {{ titulo }} </br>
                    Descripción: {{ descripcion }} </br>
                    Lista: {{ lista }}
                </div>
            </div>
        </div>
    </div>

    <!-- SCRIPT -->
    <script src="js/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>