<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aprendiendo vue - Seccion 2</title>
</head>
<body>

    <!-- APP -->
    <div id="app">
        <div class="container">
            <div class="row">
                <button class="btn btn-primary" @click="votar()">Votar</button>
                <p>
                    Cantidad de votos: <strong>{{ votos }}</strong>
                </p>
            </div>
            
            <div class="row">
                <div class="col-6">
                    <input class="form-control" type="text" v-model="nombre">
                    <input class="form-control" type="text" v-model="apellido">
                    <label class="form-control" for="">{{ nombreCompleto }}</label>
                </div>  
            </div>
        </div>

    </div>

    <!-- SCRIPT -->
    <script src="js/vue.js"></script>
    <script src="js/app.js"></script>

</body>
</html>